a#adicionar-compromisso-botao {
	float: right;
	margin-bottom: 15px;
	
}

#calendar {
	width: 690px;
	margin: 0 auto;
	display: inline-block;
}

#calendar span.fc-header-title h2 {
	font-size: 1.8em;
}

div#disponibilidade-aula table tbody th.nao-selecionado:before {
	/*content: "Ocupado";*/
	text-align: center;
	font-weight: normal;
	color: gray;
}

div#disponibilidade-aula table tbody th.nao-selecionado:hover {
	background-color: green;
}

div#disponibilidade-aula table tbody th.selecionado {
	background-color: green;
	
}
div#disponibilidade-aula table tbody th.selecionado:before {
	content: "Disponível";
	text-align: center;
	font-weight: normal;
	color: white;
}

div#disponibilidade-aula table tbody th.selecionado:hover {
	background-color: red;
}
