{% extends "geral/base.html" %}

{% block corpo %}

<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url secretaria:listaSalas %}">Lista de Salas</a><span class="divider">/</span>
	</li>
	<li class="active">
		Editar Sala
	</li>
</ul>

<form action="" method="post">

	{% csrf_token %}
	{{ form.as_table }}

	<p>
		<a href="{% url secretaria:listaSalas %}" class="btn btn-inverse btn-large">&laquo;  Voltar </a>

		<button type="submit" class="btn btn-success btn-large">
			<i class="icon-ok"></i> Atualizar Dados
		</button>
	</p>
</form>

{% endblock %}