{% extends "geral/base.html" %}

{% block corpo %}
<ul class="breadcrumb">
	<li>
		<a href="#">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="#">Secretaria</a><span class="divider">/</span>
	</li>
	<li class="active">
		Home
	</li>
</ul>

<div class="hero-unit">
	<h1>View da secretaria/home</h1>
	<p>
		O que deseja fazer?
	</p>
	<p>
		<a class="btn btn-primary btn-large"> Gerenciar salas? </a>
	</p>
	<p>
		<a class="btn btn-primary btn-large"> Gerenciar equipamentos? </a>
	</p>

	<div class="btn-group">
		<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
			Gerenciar salas? <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>
				<a href="#">Adicionar Sala</a>
			</li>
			<li>
				<a href="#">Listar Salas</a>
			</li>
			<li>
				<a href="#">Buscar Sala</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">Gerenciar Tipos de Sala</a>
			</li>
		</ul>
	</div>

</div>

{% endblock %}