{% extends "geral/base.html" %}

{% block corpo %}
<ul class="breadcrumb">
	<li>
		<a href="#">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="#">Secretaria</a><span class="divider">/</span>
	</li>
	<li class="active">
		Home
	</li>
</ul>

<div class="hero-unit">
	<h1>View da secretaria/home</h1>
	<p>
		O que deseja fazer?
	</p>
	<p>
		<a class="btn btn-primary btn-large"> Gerenciar salas? </a>
	
		<a class="btn btn-primary btn-large"> Gerenciar equipamentos? </a>
	</p>


</div>

{% endblock %}