{% extends "geral/base.html" %}

{% block corpo %}


<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url secretaria:listaSalas %}">Lista de Salas</a><span class="divider">/</span>
	</li>	
	<li class="active">
		Cadastro de Tipos de Sala
	</li>
</ul>


<h1>Cadastro de Tipos de Sala</h1>

<p>
	Cadastro de Tipos de Sala.
</p>
<form action="" method="post">

	{% csrf_token %}
	{{ form.as_p  }}

	<p>
		<a href="{% url secretaria:listaTipos %}" class="btn btn-inverse btn-large">&laquo;  Voltar </a>

		<button type="submit" class="btn btn-success btn-large">
			<i class="icon-ok"></i> Cadastrar
		</button>
	</p>
</form>

{% endblock %}