{% extends "geral/base.html" %}

{% block corpo %}

<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="/coordenador-home/">Disciplinas</a><span class="divider">/</span>
	</li>
	<li class="active">
		Cadastro de Disciplinas
	</li>
</ul>
<h1>Cadastro de Disciplinas</h1>

<p>
	Aqui você podera cadastrar novas Disciplinas.
</p>
<form action="" method="post">

	<!-- Remover isso apos o termino da refatoração
	<p>
	<h4> >> O model de disciplinas necessita ser refatorado por quetões de banco de dados </h4>
	</p>

	<br />
	Remover isso apos o termino da refatoração -->

	{% csrf_token %}
	{{ form.as_p  }}

	<p>
		<a href="{% url disciplinas:lista %}" class="btn btn-inverse btn-large">&laquo;  Voltar </a>

		<button type="submit" class="btn btn-success btn-large">
			<i class="icon-ok"></i> Cadastrar
		</button>
	</p>
</form>

{% endblock %}