{% extends "geral/base.html" %}

	{% block corpo %}
	
	<h2>Informações gearais sobre a disciplina: </h2>
	<br/>
	
<p>Número: {{ disciplina.id }} - Nome da Disciplina: {{	disciplina.titulo }} - Código: {{ disciplina.codigo }}</p>
<p>Ementa: {{ disciplina.ementa }}</p>
<p>Curso: {{ disciplina.curso }} - Carga Horária: {{ disciplina.cargaHora }}</p>
<p>Créditos Práticos {{ disciplina.creditosPraticos }} - Créditos Teoricos:{{ disciplina.creditosTeoricos }}</p>


	
	<p>
		<a href="{% url disciplinas:lista %}" class="btn btn-inverse btn-large">&laquo; Voltar</a>
		
		 <a href="/attInfoDisciplinas/{{ disciplina.id }}/" class="btn btn-primary btn-large">Atualizar Dados &raquo;</a>
	</p>

{% endblock %}