{% extends "geral/base.html" %}

{% block corpo %}
<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url professor:home %}">Professor</a><span class="divider">/</span>
	</li>
	<li class="active">
		Home
	</li>
</ul>

<div class="hero-unit">
	<h1>Área do Professor</h1>
	<br />
	<br />
	<div class="row-fluid">
		<div class="span4">
			<h2>Meu Perfil</h2>
			<div class="thumbnail" style="margin-top: 60px;">
				<br />
				<img alt="" src="http://placehold.it/260x180">
				<div class="caption">
					<br />
					<p>
						Nome:
						<br/>
						Área de formação:
						<br />
						Preferência de Disciplinas:
						<br />
						Disponibilidade de Horário:
						<br />
					</p>
					<p>
						<a class="btn btn-primary" href="#">Ver Perfil Completo</a>
						<a class="btn" href="#">Atualizar Perfil</a>
					</p>
				</div>
			</div>
		</div>
		<div class="span8">
			<h2>Meus Compromissos</h2>

			<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fullcalendar/fullcalendar.css' />
			<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}fullcalendar/fullcalendar.print.css' media='print' />
			<!--<script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery-1.7.1.min.js'></script>-->
			<script type='text/javascript' src='{{ STATIC_URL }}jquery/jquery-ui-1.8.17.custom.min.js'></script>
			<script type='text/javascript' src='{{ STATIC_URL }}fullcalendar/fullcalendar.min.js'></script>
			<script type='text/javascript'>
				loadCalendar();
			</script>
			<p>
				<a id="adicionar-compromisso-botao" class="btn btn-primary btn-large" href="{% url professor:adicionarCompromisso %}"><i class="icon-calendar"> </i> Adicionar Compromisso</a>
			</p>
			<div class="loading"><img src="{{ STATIC_URL }}img/loading.gif" alt="" />
			</div>
			<div id="calendar"></div>

		</div>
	</div>

</div>

{% endblock %}