{% extends "geral/base.html" %}

{% block corpo %}

<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url professor:home %}">Professor</a><span class="divider">/</span>
	</li>
	<li>
		<a href="{% url professor:home %}">Home</a><span class="divider">/</span>
	</li>
	<li class="active">
		Visualizar Compromisso
	</li>
</ul>

<div class="hero-unit">
	<h1>Visualizar Compromisso</h1>
	<br />
	<h2>{{ compromisso.titulo|title }}</h2>
	<hr />

	<div class="well">

		<table class="table table-striped table-bordered table-condensed">

			<thead>
				<tr>
					<th colspan="3" style="text-align: center"> Dados do Compromisso</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Título: {{ compromisso.titulo }} </td>
				</tr>
				<tr>
					<td style="height: 200px;">Descrição:
					<br />
					{{ compromisso.descricao }} </td>
				</tr>
				<tr>
					<td>Data Início: {{ compromisso.dataInicio|date:"d/m/Y" }}</td>
				</tr>
				<tr>
					<td>Data Fim: {{ compromisso.dataFim|date:"d/m/Y" }}</td>
				</tr>
				{% if not compromisso.diaInteiro %}
				<tr>
					<td>Hora Início: {{ compromisso.horaInicio }}</td>
				</tr>
				<tr>
					<td>Hora Fim: {{ compromisso.horaFim }}</td>
				</tr>
				{% endif %}
				<tr>
					<td>Dia Inteiro: {{ compromisso.diaInteiro|yesno:'Sim,Não' }}</td>
				</tr>
				<tr>
					<td>Público: {{ compromisso.publico|yesno:'Sim,Não' }}</td>
				</tr>
				
				{% if compromisso.frequencia = 0 %}
				<tr>
					<td>Frequência: Apenas uma Vez</td>
				</tr>
				{% else %}
					{% if compromisso.frequencia = 1 %}
						<tr>
							<td>Frequência: Todos os Dias</td>
						</tr>
					{% else %}
						{% if compromisso.frequencia = 2 %}
							<tr>
								<td>Frequência: Semanal</td>
							</tr>
						{% else %}
							{% if compromisso.frequencia = 3 %}
								<tr>
									<td>Frequência: Mensal</td>
								</tr>
							{% else %}
								{% if compromisso.frequencia = 4 %}
									<tr>
										<td>Frequência: Semestral</td>
									</tr>
								{% else %}
									{% if compromisso.frequencia = 5 %}
										<tr>
											<td>Frequência: Anual</td>
										</tr>							
									{% endif %}					
								{% endif %}
							{% endif %}
						{% endif %}
   					{% endif %}
				{% endif %}
				
				<tr>
					<td>Fim da Frequência: {{ compromisso.dataFimFrequencia }}</td>
				</tr>
				<tr>
					<td>Dias da Semana: {{ diasemana.diaSemana }}</td>
				</tr>
				
			</tbody>
		</table>
	</div>

	<hr />

	<div class="well">
		<a href="{% url professor:home %}" class="btn btn-inverse btn-large">&laquo; Voltar</a>
		<a href="/professor/editar-compromisso/{{ compromisso.id }}" class="btn btn-primary btn-large"><i class="icon-edit"> </i> Editar </a>
		<a href="/professor/excluir-compromisso/{{ compromisso.id }}" class="btn btn-danger btn-large excluir"><i class="icon-trash"> </i> Excluir </a>
	</div>
</div>

<div id="modalAlertDelete">
	<div class="modal-backdrop"></div>
	<div class="modal" id="myModal">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">
				×
			</button>
			<h3>Exclusão de Compromisso</h3>
		</div>
		<div class="modal-body">

			<p>
				Você tem certeza que deseja excluir este compromisso?
			</p>

		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary confirmar-exclusao">Sim</a>
			<a href="#" class="btn fechar">Não</a>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$('#modalAlertDelete').hide();
	$('a.excluir').click(function() {
		$('#modalAlertDelete').show();
		//alert("Quer excluir malandro né?! vai ficar querendo");
		return false;
	});

	$('a.confirmar-exclusao').click(function() {
		window.location = $('a.excluir').attr('href');
	});

	$('#modalAlertDelete button.close,#modalAlertDelete #botao-fechar,#modalAlertDelete a.fechar').click(function() {
		$('#modalAlertDelete').hide();
	}); 
</script>

{% endblock %}