{% extends "registration/registration_base.html" %}

{% block cabecalho %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GerenDisponibilidade - Redefinir Senha</title>
</head>
{% endblock %}

{% block corpo %}

<div class="well">
	<div class="alert alert-heading">
		<h2 class="alert-heading"><i class="icon-bell"> </i> Redefinir Senha </h2>
		<h4>Esqueceu vossa senha? 
		<br />
		Digite o e-mail cadastrado em sua conta no formulário abaixo e nós enviaremos instruções para a redefinição da senha.</h4>
	</div>
</div>

<div class="well" id="boxLogin">

<form method='post' action=''>
	{% csrf_token %}
	<table>
		{{ form }}
		<tr>
			<td></td><td>
			<input type='submit' class="btn btn-danger btn-large" value="Redefinir Senha" />
			</td>
		</tr>
	</table>
</form>
</div>
{% endblock %}
