{% extends "registration/registration_base.html" %}

{% block cabecalho %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GerenDisponibilidade - Senha Redefinida</title>
</head>
{% endblock %}

{% block corpo %}

<div class="well">
	<div class="alert alert-heading">
		<h2 class="alert-heading"><i class="icon-bell"> </i> Senha Redefinida! </h2>
		<h4>Sua Senha foi redefinida!
		<br />
		<br />
		Agora você pode realizar <a href="{{ login_url }}">Login</a>.</h4>
	</div>
</div>

{% endblock %}
