{% extends "geral/base.html" %}

{% block cabecalho %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GerenDisponibilidade - Login</title>
</head>
{% endblock %}

{% block corpo %}

<body>
	<div class="well">
		<h2>Bem Vindo(a)!</h2>
		<h4>Por Favor;
		<br />
		Realize login para acessar o Sistema.</h4>
	</div>
	<div class="well" id="boxLogin">
			<form>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-envelope"> </i> </span>
					<input class="span2" type="text" placeholder="E-mail">
				</div>
				<div class="input-prepend">
					<span class="add-on"><i class="icon-lock"> </i> </span>
					<input class="span2" type="password" placeholder="Senha">
				</div>
			</form>
		<br />
		<a href="/page-home/" class="btn btn-success btn-large"><i class=" icon-ok-sign"></i> Aceesar </a>
	</div>

</body>
{% endblock %}

