{% extends "geral/base.html" %}

{% block corpo %}

<div class="hero-unit">
	<div style="text-align: center">
	<h1>Gerenciador de Disponibilidade</h1>
	</div>
	<br />
	<h2>Bem Vindo(a)!</h2>

	<br />
	<p>
		Este é o sistema de Gerenciamento de Disponibilidade da Unipampa	- Alegrete - RS
	</p>
</div>

<!-- Example row of columns -->
<div class="row" style="text-align: center">

	<div class="span4">
		<h2>Professor</h2>
		<p>
			Atualização do perfil e agenda de compromissos.
		</p>
		<p>
			<a class="btn btn-large btn-info" href="{% url professor:home %}">Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Secretaria</h2>
		<p>
			Gerenciamento de salas e equipamentos.
		</p>
		<p>
			<a class="btn btn-large btn-info" href="{% url secretaria:listaSalas %}">Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Coordenador</h2>
		<p>
			Gerenciamento de horários.
		</p>
		<p>
			<a class="btn btn-large btn-info" href="/home/">Acessar &raquo;</a>
		</p>
	</div>
</div>

{% endblock %}