{% extends "geral/base.html" %}

{% block corpo %}

<div class="hero-unit" id="topHome">

	<div class="row" id="cabecalho">
		<div class="well" id="texto">
			Bem Vindo(a)! 
		</div>
	<br />
		<br />
			<br />
				<br />
		<div class="well" id="texto2">
		
			Este é o sistema de Gerenciamento de Disponibilidade da Unipampa	- Alegrete - RS
		</div>
	</div>
</div>

<!-- Example row of columns -->
<div class="row" id="optionHome">

	<div class="span4 alert alert-info" id="optionProfessor">
		<h2>Professor</h2>
		<p>
			Perfil e agenda de compromissos.
		</p>
		<p>
			<a class="btn btn-large btn-success" href="{% url professor:home %}"> Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4 alert alert-info" id="optionSecretaria">
		<h2>Secretaria</h2>
		<p>
			Gestão de salas e equipamentos.
		</p>
		<p>
			<a class="btn btn-large btn-success" href="{% url secretaria:listaSalas %}"> Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4 alert alert-info" id="optionCoordenador">
		<h2>Coordenador</h2>
		<p>
			Gestão de horários.
		</p>
		<p>
			<a class="btn btn-large btn-success" href="/coordenador-home/"> Acessar &raquo;</a>
		</p>
	</div>
</div>

{% endblock %}