{% extends "geral/base.html" %}

{% block corpo %}

<div class="hero-unit">
	<h1>Gerenciador de Disponibilidade</h1>
	<h2>Bem Vindo(a)!</h2>

	<p>
		Este é o sistema de Gerenciamento de Disponibilidade da Unipampa	- Alegrete - RS
	</p>
	<p>
		<a href="{% url disciplinas:lista %}" class="btn btn-primary btn-large">Listagem de Disciplinas &raquo;</a>
	</p>
	<p>
		<a href="{% url disciplinas:addDisciplina %}" class="btn btn-primary btn-large">Cadastrar nova Disciplina &raquo;</a>
	</p>
</div>

<!-- Example row of columns -->
<div class="row">

	<div class="span4">
		<h2>Professor</h2>
		<p>
			Atualização do perfil e agenda de compromissos.
		</p>
		<p>
			<a class="btn" href="{% url professor:home %}">Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Secretaria</h2>
		<p>
			Para gerenciamento de salas e equipamentos, acesse a área da secretaria.
		</p>
		<p>
			<a class="btn" href="{% url secretaria:listaSalas %}">Acessar &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Coordenador</h2>
		<p>
			Área do Coordenador.
		</p>
		<p>
			<a class="btn" href="#">Acessar &raquo;</a>
		</p>
	</div>
</div>

{% endblock %}