{% extends "geral/base.html" %}

{% block corpo %}

<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li class="active">
		Sobre os Autores
	</li>
</ul>

<div class="hero-unit">

	<p>
		Este sistema esta sendo desenvolvido pela <i>IbirapuiTech Corporation</i>, cujos responsáveis são:
	</p>

	<br/>
	<div class="well">

		<table class="table table-striped table-bordered table-condensed">

			<tbody>
				<tr>
					<td style="text-align: center"><b> Nome </b></td>
					<td style="text-align: center"><b> Curso </b></td>
				</tr>
				<tr>
					<td>Juliano Rodovalho</td> <td>Engenharia de Software </td>
				</tr>
				<tr>
					<td>Rafael Tavares</td> <td>Engenharia de Software</td>
				</tr>
				<tr>
					<td>Wolmir Nemitz</td> <td> Engenharia de Software </td>
				</tr> 
			</tbody>
		</table>
	</div>

</div>

<p>
	<a href="/" class="btn btn-inverse btn-large">&laquo; Voltar</a>
</p>
{% endblock %}
