{% extends "geral/base.html" %}

{% block corpo %}
<ul class="breadcrumb">
	<li>
		<a href="/">Página Inicial</a><span class="divider">/</span>
	</li>
	<li>
		<a href="/">Coordenador</a><span class="divider">/</span>
	</li>
	<li class="active">
		Home
	</li>
</ul>

<div class="hero-unit">
	<h2>Área do Coordenador</h2>

	<br />
	<p>
		<a href="{% url disciplinas:lista %}" class="btn btn-primary btn-large">Listagem de Disciplinas &raquo;</a>
	</p>
	<p>
		<a href="{% url disciplinas:addDisciplina %}" class="btn btn-primary btn-large">Cadastrar nova Disciplina &raquo;</a>
	</p>
	<p>
		<a href="{% url coordenador:montarGradeAula %}" class="btn btn-primary btn-large">Montar Grade Aula &raquo;</a>
	</p>
</div>

<div class="well">

	<a href="/" class="btn btn-inverse btn-large">&laquo; Voltar</a>

</div>

{% endblock %}